/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/

          /* COMMENTING OUT STYLES
          :root {
            Core colours 
            https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 
            --colour-amaranth: #e63946;
            --colour-peppermint: #f1faee;
            --colour-aquaisland: #a8dadc;
            --colour-wedgewood: #457b9d;
            --colour-cello: #1d3557; }

            Header configuration 
            --header-heading-colour: var(--colour-peppermint);

            Body configuration 
            --body-default-colour: var(--colour-cello);
            --body-background-colour: var(--colour-peppermint); */

          

  /* MY COLOUR PALLETTE
  #fce8c3 - lightest colour creamy pretty
  #c37960 - medium most orangy brown
  #894e3f - darkest brown deep
  #eee1ba - more greyish verious of 1st colour
  #9c634f - milk chocolate brown
  */


/*
  PAGE / BODY
*/








.calendar-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    align-self: stretch;
  border: solid 0.5rem #894e3f;
  border-radius: 2rem;
  padding: 0.8rem;
  margin: 4px 4px;
  cursor: pointer;
  text-decoration: none !important;
    text-align: center;
    font-size: smaller;
  color: #fce8c3 !important;
}

  .calendar-link:link,
  .calendar-link:visited,
  .calendar-link:hover,
  .calendar-link:active {
    color: #fce8c3 !important;
    text-decoration: none !important;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
    background-image: url(images/my-images/bread.png);
    background-repeat: repeat;
    background-size: auto;
}

  @media screen (max-width: 600px) {
    body {
      background-size: 200px 200px;
    }
  }

main {
  min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole-page {
  align-items: center;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(238, 225, 186, .6);
}

    @media screen (max-width: 600px) {
      body {
        background-size: auto 50%;
        background-repeat: repeat;
      }
    }


.to-do-chunk {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
}

ol {
  list-style-type: none;
  padding-left: 0;
}

.form-results {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: fit-content;
}

.to-do-add-section {
  border: solid 0.5rem #894e3f;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 2rem;
} 

.written-out-list-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: fit-content;
  margin-bottom: 0;
}

.to-do-add-section,
.written-out-list-section {
  border: solid 0.5rem #894e3f;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  overflow: auto;
}

.input-title {
  background-color: #894e3f;
  color: #fce8c3;
  border: solid 0.5rem #894e3f;
  border-radius: 1.5rem;
  padding: 0.2rem;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

form,
label,
input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
}

label {
  color: #894e3f;
  text-align: center;
  font-weight: bold;
  border: solid 0.5rem #894e3f;
  border-radius: 1.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding: 0.8rem;
  background-color: #fce8c3;
}

.dump-to-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

@media (min-width: 500px) {
  .dump-to-add {
    flex-direction: row;
  }
}

input[type="text"] {
  color: #894e3f;
  text-align: center;
  border: solid 0.5rem #894e3f;
  border-radius: 1.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: rgba(238, 225, 186, 0.8);
  flex-grow: 1;
  align-self: stretch;
  max-width: 100%;
}

input[type="text"]::placeholder {
  color: rgba(238, 225, 186);
  opacity: 1;
}

input[type="text"]:hover {
  background-color: #894e3f;
  color: #fce8c3;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fce8c3;
  border: solid 0.5rem #894e3f;
  border-radius: 50%;
  color: #894e3f;
  padding: 0.8rem;
  margin: 4px 4px;
  max-height: 20%;
  max-width: 25%;
  cursor: pointer;
  flex-wrap: wrap;
}

.btn-primary:hover {
  background-color: #894e3f;
  color: #fce8c3;
}

/*.written-out-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.5rem #894e3f;
   border-radius: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
} */

/* .written-out-list-section {
  border: solid 0.5rem #894e3f;
  border-radius: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
} */

    .list-title {
      background-color: #894e3f;
        color: #fce8c3;
      border: solid 0.5rem #894e3f;
        border-radius: 1.5rem;
      padding: 0.2rem;
      text-align: center;
      font-weight: bold;
    }

   .list-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
   }

   .custom-list-item {
    display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center; /* Add this line */
      align-items: center; /* Add this line */
    color: #894e3f;
      text-align: center; /* Add this line */
      font-weight: bold;
    border: solid 0.5rem #894e3f;
      border-radius: 1.5rem;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      padding: 0.8rem;
    background-color:#fce8c3;
    width: auto; /* Add this line */
      overflow: auto;
      word-break: break-word;
  }

  .custom-button {
    flex-grow: 0;
    background-color: #fce8c3;
    border: solid 0.5rem #894e3f;
    border-radius: 3rem;
    color: #894e3f;
    margin: 4px 4px;
    cursor: pointer;
    max-height: 3rem;
    width: auto; /* Add this line */
  }

      .custom-button:hover {
        background-color: #894e3f;
        color: #fce8c3;
      }
  
  .crossed-out-list-section {
    border: solid 0.5rem #894e3f;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    overflow: auto;
    }

    .crossed-list-title {
      background-color: #894e3f;
        color: #fce8c3;
      border: solid 0.5rem #894e3f;
        border-radius: 1.5rem;
      padding: 0.2rem;
      text-align: center;
      font-weight: bold;
    }

    .removed-to-dos {
      padding-left: 0;
      align-items: center;
      color: #9c634f;
      text-decoration: line-through;
      text-decoration-thickness: 0.15rem;
      text-decoration-color: #894e3f;
    }

/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}